fastapi
uvicorn
pandas
pandas-market-calendars
numpy
yfinance>=0.2.52
ta
scikit-learn
Jinja2
certifi
twilio
python-multipart
pytest
httpx[http2]>=0.27.0
uvloop
pyarrow>=15.0.0
prometheus-client
pydantic
alembic
apscheduler

# development tooling
pre-commit
ruff
black
isort
mypy
