{% extends "base.html" %}
{% block title %}Overnight{% endblock %}
{% block content %}
<h1>Overnight</h1>
<p id="window-info"></p>
<div class="prefs">
  <label>Start <input type="time" id="win-start"></label>
  <label>End <input type="time" id="win-end"></label>
  <button id="save-prefs">Save Window</button>
</div>
<div class="queue-builder">
  <div id="queue"></div>
  <button id="add-item">Add scanner</button>
  <button id="save-batch">Save Batch</button>
  <button id="start-now">Start Now</button>
  <p class="notice">Items run one-by-one. The next starts only after the previous completes.</p>
</div>
<hr/>
<div class="batch-controls">
  <label><input type="checkbox" id="show-finished"> Show finished</label>
  <button id="clear-finished" disabled>Clear finished</button>
</div>
<div id="batches"></div>
<template id="row-template">
  <div class="ov-row">
    <span class="pos"></span>
    <form class="scan-form">
      {% include '_scanner_form.html' %}
    </form>
    <button class="rm">🗑</button>
  </div>
</template>
{% endblock %}
{% block extra_body %}
<script src="/static/js/overnight.js"></script>
{% endblock %}
